<launch>

<!-- <arg name="bag" default="/mnt/partition_deux/bag_files/bag_stephane.bag"/> -->
  <arg name="bag" default=" /mnt/partition_deux/bag_files/bag_camera_zed_2023_10_13_15_h_00/bag_stehpane_ros1.bag"/>
 
    <node name="static_tf_lidar1" pkg="tf2_ros" type="static_transform_publisher"
    args="0.0 0.0 0.0  0.0 0.0 0.0 base_link zed2i_left_camera_frame"/>


   <!-- <node name="static_tf_lidar2" pkg="tf2_ros" type="static_transform_publisher"
    args="2.0 0.0 1.0  0 0 0  base_link base_link"/> -->
  <!-- <node name="static_tf_lidar1" pkg="tf2_ros" type="static_transform_publisher"
    args="0.1 0.0 1.81  0.0 0.5 0.0 base_link zed2i_left_camera_optical_frame"/> -->


  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
      <remap from="~input" to="/zed2i/zed_node/point_cloud/cloud_registered" />
      <remap from="~output" to="pointcloud_downsampled" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: -100
        filter_limit_max: 100
        leaf_size: 0.05
      </rosparam>
    </node>



<!-- <node name="grid" pkg="romea_ground_removal" type="romea_ground_removal_node" output = "screen"> -->
<node name="grid" pkg="romea_ground_removal" type="traversability_map_node.py" output = "screen">
    <remap from="~input" to="pointcloud_downsampled" />

    <param name="cell_size" value="0.1" />
    <param name="thresh_z" value="-0.3" />
    <param name="foliage_height_thresh" value="0.6" />
    <param name="continuity_thresh" value="0.2" />
    <param name="continuity_min_height" value="0.05" />
    <rosparam subst_value="True">
      frame_id_link: "zed2i_left_camera_frame"

    </rosparam>
  </node>



  <node pkg="big_pc_compute" type="vineyard_detection.py" name="compute_lidar"
    required="true" output="screen">

    <!-- <remap from="~pointcloud" to="/zed2i/zed_node/point_cloud/cloud_registered"/> -->
    <remap from="~pointcloud" to="pointcloud_downsampled"/>

    <rosparam subst_value="True">
      activate: true
      use_gpu:  true
      debug:    false

      frame_id_link: "zed2i_left_camera_frame"
      <!-- link: "zed2i_left_camera_optical_frame" -->
      transfo_link: [[1.0,0.0,0.0],[0.0,1.0,0.0],[0.0,0.0,1.0],]

      lidar_range_min: 0.0
      lidar_range_max: 5.0
      lidar_z_min: -2.0
      lidar_z_max: 100.0

      octo_npoints_max: 1000
      octo_depth_max: 100
      octo_padding_size: 0.2

      ground_segmentation_voxel_size: 0.1
      ground_segmentation_a: 0.6 
      ground_segmentation_b: 0.05 
      

      density_max_a: -100
      density_max_b: 0.0
      density_kernel_size: 0.1
      plant_density_kernel_size: 0.3

      final_vine_selection_a: -0.5
      final_vine_selection_b: 0.0

      ground_approx_order: 2                  #order of the ground, 3 give the better result
      ground_approx_error: 0.05                
      ground_approx_memory: false              #init the ground approximation, true give a good and stable result, but it's mathematicaly empiric, it's link instant k and k-1, event aren't independant, can create divergence or consanguinity               
      final_merging_distance: 0.1

      height_selection_low: 0.3
      height_selection_mid: 0.4
      height_selection_hig: 1.2

      threshold_nb_plant_foot_detection: 4

    </rosparam>
  </node> 

  <node name="bag_play" pkg="rosbag" type="play" required="true" args="-l -r 0.2 $(arg bag)" output="log"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find big_pc_compute)/viz/vineyard_detection.rviz" />

</launch>
